@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body bg-background text-primaryWhite
    }
}

:root {
    --primary-accent: #7893F7;
    --radial-chart-bg: #2B3065;
}

.image-to-fit {
    object-fit: cover;
}

.custom-scrollbar {
    scrollbar-color: #A5A4A6 #1F2027;
}